
body {
    background-color:#ECDBBA;
    background-image: url(abstractgeo.jpg);
    background-size: contain;
    background-repeat:no
}

#name {
  text-shadow: 2px 0px 4px black;
  font-size: 2.7vw;


}
h2 {
  color: #2D4263;
  align-items: center;
  font-size: 1.5vw;
}


h1 {
    color: #2D4263;
    align-items: center;
    font-size: 1.5vw;
  }
  
/*
.topdiv {
    background-color: #2D4263;
    padding: 80px;
    box-shadow: 0px -5px 10px 0px inset;
}
*/
    
p {
    color: #191919;
    font-size: 1.5vw;
}

.container {
  box-shadow: 0px 5px 10px 0px;
  border: 1px solid black;
  padding: 4%;
  margin: 4%;
  border-radius: 20px;
  background-color: #ECDBBA;
  height: 120%;
}

td {
  height:auto;
}

a {
    text-decoration: none;
    font-weight: bolder;
    color:#83301f;
    background:
    linear-gradient(
      to right,
      #ECDBBA ,#ECDBBA
    ),
    linear-gradient(
      to right,
      #ECDBBA, #83301f , #ECDBBA
  );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
    
}
a:hover {
    background-size: 0 3px, 100% 3px;
    color:#83301f ; 
    
}
