/* to do 
add new things in starting page
make the thing feel more alive its dead*/


/* loading */
.loading{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    z-index: 999;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.4s ease-in-out;
}
.wave {
    width: 5px;
    height: 100px;
    background: linear-gradient(45deg, cyan, #fff);
    margin: 10px;
    animation: wave 1s linear infinite;
    border-radius: 20px;
  }
  .wave:nth-child(2) {
    animation-delay: 0.1s;
  }
  .wave:nth-child(3) {
    animation-delay: 0.2s;
  }
  .wave:nth-child(4) {
    animation-delay: 0.3s;
  }
  .wave:nth-child(5) {
    animation-delay: 0.4s;
  }
  .wave:nth-child(6) {
    animation-delay: 0.5s;
  }
  .wave:nth-child(7) {
    animation-delay: 0.6s;
  }
  .wave:nth-child(8) {
    animation-delay: 0.7s;
  }
  .wave:nth-child(9) {
    animation-delay: 0.8s;
  }
  .wave:nth-child(10) {
    animation-delay: 0.9s;
  }
  
  @keyframes wave {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
}


/* rest of page */
body {

    /* palette
    #711DB0
    #C21292
    #EF4040
    #FFA732
    */

    
    background-image: url("src/blue-wavy-background-webp.webp");
    background-color:#000000;
    font-family: 'Arial', 'sans-serif';
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    background-size: 230vh;
    position: relative;
    min-height: 100vh;
    overflow-y:auto;
    overflow-x:hidden ;
    /*transition: opacity 0.3s ease-in-out;*/
    /* scrollbar fix*/

    
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera

leaving this here for debugging
*/
body::-webkit-scrollbar {
    display: none;
}



.footer {
    color: #fff;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 6rem;            /* footer height */
    /*! padding-top: 1rem; */
    margin-top: auto;
    padding-bottom: 24px;
}


/*------- HEADER - NAVBAR --------*/
.header {
    color: #fff;
    padding: 10px;
    /*! padding-top: 2vh; */
    /*! margin-bottom: 2vh; */
    display: flex;
    text-align: right;
    /*box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5), inset 0px 20px 20px 3px rgba(255, 255, 255, 0.08)*/
    flex-direction: column;
    /*! border-top: 2px solid #0b182283; */
}

nav ul {
    
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

nav ul li {
    display: inline;
    /*! margin-right: 20px; */
    margin-block: 0.2em;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
}

nav {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.current {
    color: #FFECD6;
    border-bottom: solid 2px;

    transition: color .2s, border-bottom .2s; /* Combine transitions */
    
}

.not-current {
    color: #4CB9E7;
    border-bottom-style: none;
    transition: color .2s, border-bottom .2s; /* Combine transitions */
}

.not-current:hover{
    color:#FFECD6;
}

/*-------- MAIN : about me and right side cards --------*/

#content-wrap {
    display: flex;
    flex-direction: row;
    overflow: scroll;
    /* scrollbar fix*/
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
#content-wrap::-webkit-scrollbar {
    display: none;
}


.contents-flexbox{  /* whole right side of screen part, includes navbar */
    flex:2;
    padding-right: 1vw;
    padding-bottom: 10vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    right: 0;
    flex-direction: column;
    overflow: auto;

    position: fixed;
    height: 98vh;
    width: 64vw;
    /*! margin-top: 1em; */
}
  

.contents{ /* single column meant to hold card items */
    margin: 0 auto;
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: 10px;

}

.contents-x2{ /* holds multiple content items to span multiple columns */
    /*! margin: 0 auto; */

    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-top: 1em;
}

.card{ /* general card class */

    /*background: rgba(255, 255, 255, 0.5); /*this will be transparent */
    border-radius: 0px;
    padding: 1em;
    padding-bottom: 1.3em;

    border-radius: 0px;
    /*background: #4CB9E7;*/

    background-image: url('src/blue-wavy-background-blur.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35), inset 0px 100px 100px 200px rgba(255, 255, 255, 0.08);
    
    transition: backdrop-filter 2s ease-in-out;
    backdrop-filter: none;
    -webkit-backdrop-filter: none; /* will become blur(30px) from javascript */
}

.home {
    z-index: 1;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-height: 100vh;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 1em;
    /*! border-bottom: 2px solid #4CB9E7; */
}

#my-card{ /* left panel of screen card */
    position:fixed;
    width: 33vw;
    /*min-height: 100vh;
    max-height: 100vh;*/
    overflow: scroll;


    /* scrollbar fix*/

      /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
#my-card::-webkit-scrollbar {
    display: none;
}

.profile{
    padding: 10px;
}

/*------ TEXTS -------*/

p{
    color: #d1ecf8;
    margin: 0;
    padding-inline: 6px;
    /*! background: azure; */
}
.contents-flexbox h2 {
    margin-top: 0px;
}

.link {
    text-decoration: underline;
    color:#d1ecf8;
}

.link:visited{
    text-decoration: underline;
    color:#d1ecf8;
}

.card-title { /*h3*/
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left:0.2%;
    padding-right:4%;
    padding-top: 1%;
    padding-bottom: 4%;

    color: #d1ecf8;
}


.home h1 {
    font-size: 24px;
    padding-bottom: 2px;
    margin-left: 1px;
    margin-right: 1px;
    color: #d1ecf8;
}#name-text { /* seems to overflow at larger zooms */
    font-size: 1.7em;
    padding-bottom: 8px;
}

#links a {
    border-radius: 0px;
    margin: 2px;
    padding: 2px;
}

.home p {
    font-size: 18px;
    color: #d1ecf8;
}

h4{
    color: #d1ecf8;
    margin:0px;
    margin-bottom: 2px;
}

li {
    color: #d1ecf8;
}

nav {
    cursor: pointer;
}


/*------- PICS -------*/

/* images of the learning resource websites*/
#links img {
    /*border: solid rgb(79, 79, 79) 2px;*/
    box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
    width: 100px;
    height: 50px;
}

.uoc {
    width: 50px;
    margin: 0 auto;
    margin-block: 10px;
}


/*------- POSTS -------*/

.post{ /* post card */

    border-radius: 0px;

    border-radius: 0px;
    /*background: #4CB9E7;*/
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35), inset 0px 100px 100px 200px rgba(0, 0, 0, 0.08);

    transition: box-shadow .2s;

    cursor: pointer;
    text-decoration: none;

}
.post:hover{
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.35), inset 0px 100px 100px 200px rgba(0, 0, 0, 0.08);
}

.post-title-cont { 
    /*! padding-inline: 1em; */
    color: #d1ecf8;
    text-shadow: 5px 5px 15px black;
    max-width: 100%;
    max-height: 20%;
    word-wrap: break-word;
    /*! word-break: break-all; */
    /*! padding-bottom: em; */

    
}

.post-title{
    margin:0;
    padding: 1em;
    background: rgba(0,0,0,0.4);
}

.post-source-cont {
    margin: 0;
    padding: 0;
    /*! padding: ; */
}

.post-source{ /* p text */
    padding-inline:1em;
    color: #d1ecf8;
    margin: 0;
    padding-block: .5em;
    background: rgba(0,0,0,0.7);
}

a.fill-div {
    position: absolute;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

/*------- BUTTONS -------*/

.buttons-div{
    padding-block: 0;
}
.buttons{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #333;
    /*border-radius: 5px;*/
    box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.3);
    transition: box-shadow .2s;
    /*! padding: 8px 16px; */
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-inline: 26px;


    padding: 3% 8%;
}

.buttons:hover {
    box-shadow: 0 5px 12px 0px rgba(0,0,0,.5); 
}

#bg {
    height: screen;
    overflow: hidden;
}

.bg-cont{
    overflow: hidden;
}


@media only screen and (max-width: 900px) {

    .contents-x2{
        flex-direction: column;
    }

    /* buttons */

    .buttons-div{
        padding: 0px;
        display: block;
    }
    .buttons{
        display: inline-block;
        /*! padding-inline: 26px; */
    }

    .profile img{
        width: 8em;
    }

    /*  text */
    .home h1{
        font-size: 22px;
    }
    
    .home p{
        font-size: 16px;
    }
    

    
}

@media only screen and (max-width: 700px) {
    body{
        overflow-y: scroll;
        overflow-x:hidden ;
        background-image: none;
        background-color: #174f7d;
        padding-bottom: 26px;
    }
    #content-wrap{
        flex-direction: column;
    }

    .home{
        min-height: 0;
        max-height: none;
    }

    #my-card{
        position: relative;
        width: auto;
        min-height: 0;
        height: auto;
        margin: 0;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.35);
    }

    #my-card-inner{
        padding: 0px;
    }

    .nav{
        margin: 0 auto;
    }

    .nav ul li{
        margin-inline: 10px;
    }

    #nav-list{
        flex-direction: row;
    }

    .nav a{
        font-size: 1em;
    }

    .current{
        border-bottom-width: 0;
    }

    .header {
        background-image: url('src/blue-wavy-background-blur.webp');
        position: fixed;
        width: 100%;
        display: flex;
        bottom: 0;
        flex-direction: row;
        padding:10px;
        margin: 0 auto;
    }

    .contents-flexbox{
        position: relative;
        margin: 0 auto;
        width: auto;
        padding-inline: 0px;
        padding-top: 10px;
        flex-direction: column;
    }

    .card {
        width: auto;
    }

    .contents{
        margin: 0;
    }
    .contents-x2{
        flex-direction: column;
    }

    #bg {
        width: auto;
        height: auto;
    }
}
